@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<p> <b>Brudpar</b>  </p>

Hör gärna av er till oss om ni har frågor, funderingar, eller bara vill prata lite. 
<p> Patrik: 0736 83 82 26</p>
<p> Josefine: 0732 32 00 17</p>
<p>e-mail: herrochfrusjolin@gmail.com</p>




<p> <b>Värdpar</b>  </p>

<p> Vill ni anmäla tal, upptåg eller bidra till festligheterna på annat sätt ta gärna kontakt med våra vänner Céline och Joakim</p>
<p> e-mail: vardparsjolin@gmail.com </p>
<img src="~/Content/Images/CélineWeb.jpg" />  
<img src="~/Content/Images/JockeWeb.jpg" />



