
@{
    ViewBag.Title = "Gifts";
}
<br />
<br />
<h1>Presenter</h1>

<p>
    Vi hoppas att ni inte funderar kring presenter, vi har allt vi behöver. Det bästa ni kan ge oss är att vara med och fira!
</p>
<p>
    Eftersom vi fått förfrågan lägger vi nu upp en lista ändå.
    <ul>
        <li>
            Vita renskinn
        </li>
        <li>
            Småkrulliga gråa fårskinn
        </li>
        <li>
            Parvis badlakan i tjock frotté
        </li>
        <li>
            Påslakan till dubbeltäcke
        </li>
        <li>
            Lakan
        </li>
        <li>
            Parvis små handdukar i tjock frotté
        </li>
        <li>
            Brödrost
        </li>
        <li>
            Skruvdragare
        </li>
        <li>
            Krukor för inomhusbruk
        </li>
        <li>
            Vi dricker gärna whiskey, vin eller likörer
        </li>
        <li>
            Mastermind i trä med fem pluppar per rad (Svårt att köpa i Sverige)
        </li>
        <li>
            2 stycken game pads
        </li>
        <li>
            Trädgårdsredskap (Stor spade, kratta, sekatör)
        </li>
        <li>
            Trädgårdsmöbler (Mölle från MIO i vitt)
        </li>
        <li>
            Champangeglas
        </li>
        <li>
            2 stycken vitsåpade "Lilla Åland"-stolar
        </li>
    </ul>
</p>
