@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Josefine & Patrik</h1>
    <p class="lead">På Öland har Josefine tillbringat sin barndoms somrar. Det var också hit vår första gemensamma resa gick. Nu hoppas vi att ni vill vara med och fira vår bröllopsdag med oss. Eftersom vi vet att det är många som har en bit att resa har vi försökt förbereda det praktiska.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bla</h2>
        <p>
            Text
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Gris</h2>
        <p>Baby</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Hej</h2>
        <p>La la la la la</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>