
@{
    ViewBag.Title = "Locations";
}

<br />
<br />
<h1>Viktiga Platser</h1>


<table class="table table-responsive">

    <tr>
        <td>
            <h2>Boende & Grillkväll</h2>
            <address>
                Pensionat Lantgården<br />
                Hagaby 17<br />
                387 71 Löttorp
            </address>
        </td>
        <td style="text-align: right">
            <img src="~/Content/Images/Pensionat lantgården.jpg" width="450" />
        </td>
    </tr>

    <tr>
        <td>
            <h2>Vigseln</h2>

            <address>
                Pesnäs kyrka<br />
                Persnäs bygata 11<br />
                380 74 Löttorp
            </address>
        </td>
        <td style="text-align: right">
            <img src="~/Content/Images/persnäs kyrka.jpg" width="450" />
        </td>
    </tr>

    <tr>
        <td>
            <h2>Vigselkaffe</h2>
            <address>
                Klockaregården (sommarhuset)<br />
                Lundebyvägen 79<br />
                380 74 Löttorp
            </address>
        </td>
        <td style="text-align: right">
            <img src="~/Content/Images/Klockaregarden.jpg" width="450" />
        </td>
    </tr>

    <tr>
        <td>
            <h2>Bröllopsfest</h2>
            <address>
                Persnäsgården<br />
                Persnäs AIF<br />
                Österskogsvägen 2<br />
                387 70 Löttorp
            </address>
        </td>
        <td style="text-align: right">
            <img src="~/Content/Images/Persnasgarden.jpg" width="450" />
        </td>
    </tr>
</table>