
@{
    ViewBag.Title = "Festdagarna";
}

<br />
<br />
<h1>Festdagarna</h1>
<p style="margin-top: 6px"><b>Här har vi samlat information kring hur vi har tänkt oss upplägget under dagarna.</b></p>


<h2 style="margin-top: 30px">Fredag 3 juni</h2>
<hr />
<p style="margin-top:5px">
    Vi passar på att tjuvstarta helgen med er som har möjlighet att resa till Öland redan under fredagen. Vi samlas vid 18.30 för korvgrillning och lekar vid Pensionat Lantgården. Vi håller grillen varm till 20.30 för den som inte hinner vara med från starten.
    Ta med varma kläder (svensk försommarkväll), och ev. badkläder.
</p>
<h2>Lördag 4 juni</h2>
<hr />
<h3>Förmiddagen</h3>
    <p>Under förmiddagen är det fri lek. Passa på att se er omkring i omgivningarna, kanske en tur till Byrums raukar, Källa gamla kyrka eller Kaffestugan i Böda.</p>

<h3>Eftermiddagen</h3>
<p>Klädsel för eftermiddagen är kavaj.</p>

<p>
    <ul>
        <li><p>ca 13.15 Den gemensamma bussen avgår från vandrarhemmets grusplan.</p></li>
        <li>
            <p>
                14.00 Vigsel i Persnäs kyrka
                <br />
                För den som kör själv så går det bra att parkera vid kyrkan.
            </p>
        </li>
        
        <li><p>Efter vigseln serveras vigselkaffe i Klockaregården (sommarhuset), som ligger i korsningen ca 250 m. före kyrkan (Lundebyvägen 79). Låt gärna bilen stå kvar vid kyrkan.</p></li>
        
        <li><p>Framåt kvällen fortsätter vid med buss till Persnäsgården.</p></li>
        
        <li><p>Bröllopsfesten pågår hela kvällen och halva natten - minst. Vid lagom tid avgår buss tillbaka till vandrarhemmet</p></li>
    </ul>
</p>