
@{
    ViewBag.Title = "PracticalInfo";
}

<br />
<br />
<h1>Det praktiska</h1>
<br />

<p> <b>Boende</b>  </p>

<p>
    Vi rekommenderar att ni bokar ert boende på <a target="_blank" class="body-links" href="https://www.svenskaturistforeningen.se/anlaggningar/stf-hagabylantgarden-vandrarhem/">Pensionat Lantgården</a> i Löttorp. Där finns rum, stugor, husvagnsplatser, eller varför inte en hängmatta i det fria. Pensionatet håller bäddar åt oss så att alla ska få plats,
    men det är viktigt att ni bokar ert boende <b>senast den 7 april 2016</b>. Boka via e-mail till <a class="body-links" href="mailto:info@pensionatlantgarden.se">info@pensionatlantgarden.se</a> eller ring Stefan på 0485 201 55. Rumsstädning ingår för alla våra gäster, så glöm inte ange att ni tillhör vårt bröllopssällskap.
</p>

<br />

<p> <b>Resa</b>  </p>
   <p>
    På Öland är det klurigt att ta sig runt utan bil. Därför rekommenderar vi att den som har möjlighet kör dit. Passa på att njuta av utsikten när ni kör över Ölandsbron. När ni tagit er över fortsätter ni norrut (mot Borgholm) ca 6 mil till Persnäs och ca 7 mil till Pensionat Lantgården.
       Titta in på @Html.ActionLink("Viktiga platser", "Locations", "Home", new object { }, new { @class = "body-links" }) för adresser.
</p>

  <p>
    För den som inte har bil går det att ta tåg till Kalmar från Stockholm, Göteborg, Malmö (och Kastrup). Det finns också en mindre flygplats. I den mån det är möjligt försöker vi para ihop er med andra gäster som passerar genom Kalmar med bil och kan plocka upp er. Annars går buss 106 Från Kalmar C mot Löttorp.
</p>

  <p>
    För resande från Stockholm finns också Silverlinjen. En busslinje som går direkt från Stockholm till Öland.
</p>

<br />

<p> <b>Transport på bröllopsdagen</b> <p/>

<p>
    Vi ordnar busstransport mellan vandrarhem, kyrka, fest och tillbaka.

    Givetvis går det bra att ordna sitt eget boende, men då får man själv ta sig till och från pensionatet om man vill åka med bussen.
</p>

<br />

<p> <b>För familjer</b> <p />

<p>
    Självklart vill vi gärna att hela familjen är med på allt, grillning, i kyrkan och på fest.

    Det enda vi ber om är att ni tänker på att det nervösa brudparet kan få svårt att överrösta en ledsen liten älskling i kyrkan.
<p />
<p>
    Eftersom det är en hel del mindre barn som är bjudna är det inte säkert att vi kan ordna barnstolar till alla, så ta gärna med det om ni kan och eventuell underhållning som kan tänkas behövas.
<p />

