
@{
    ViewBag.Title = "Telegram";
}

<br />
<br />
<h1>Telegram</h1>

<p>Nu är det snart dags för bröllop! Om ni inte kan medverka eller bara vill skicka ett roligt meddelande kan ni välja mellan följande:
    <ul>
        <li>Skicka ett mail till <a class="body-links" href="mailto:vardparsjolin@gmail.com">vardparsjolin@gmail.com</a></li>
        <li>Skicka ett telegram till c/o Casselbrant, Lundebyvägen 79, 387 73 Löttorp</li>
    </ul></p>