
@{
    ViewBag.Title = "Telegram";
}

<h2>Telegram</h2>

<p> Än är Alvaret inte redo för bröllop. Titta in igen när vårsolen torkat undan vattnet. Då kommer ni att kunna skicka telegram härifrån som går direkt till vårt värdpar.</p>

<img src=" ~/Content/Images/TelegrindSmall2.jpg" />